<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>历史报价</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "历史报价","txt":""})
<section class="page_content">
    <a class="his_offer_box">
        <p><span>阳光逛逛</span><span><b>浙B2714S</b>(长安马自达)ssssssssssss</span></p>
        <p class="time">2018-01-18&nbsp;&nbsp;&nbsp;09:10:10</p>
        <i class="iconfont right_icon"></i>
    </a>
    <a class="his_offer_box">
        <p><span>阳光逛</span><span><b>浙B2714S</b>(长安马自达)</span></p>
        <p class="time">2018-01-18&nbsp;&nbsp;&nbsp;09:10:10</p>
        <i class="iconfont right_icon"></i>
    </a>
    <a class="his_offer_box">
        <p><span>阳光逛</span><span><b>浙B2714S</b>(长安马自达)</span></p>
        <p class="time">2018-01-18&nbsp;&nbsp;&nbsp;09:10:10</p>
        <i class="iconfont right_icon"></i>
    </a>
    <a class="his_offer_box">
        <p><span>阳光逛</span><span><b>浙B2714S</b>(长安马自达)</span></p>
        <p class="time">2018-01-18&nbsp;&nbsp;&nbsp;09:10:10</p>
        <i class="iconfont right_icon"></i>
    </a>
</section>
</body>
</html>