<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>核保成功</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "核保成功","txt":""})
<section class="top_box">
    <!--流程状态-->
    <div class="flow_box">
        <span class="active"><i>1</i></span>
        <span class="active gray"><i>2</i></span>
        <span class="active"><i>3</i></span>
        <span class="active"><i>4</i></span>
        <i>5</i>
    </div>
</section>
<section class="hb_state_box">
    <div class="img">
        <img width="100%" height="100%" src="../../img/state_have_img.jpg">
    </div>
    <p class="state_text">正在核保中,请稍后</p>
    <div class="car_btn">我的车险</div>
</section>
<section class="state_bottom_text_box">
    <div class="state_content_box">
        <p class="note_text">关注微信公众号“极速优保”,车险下单<br>更快、更省、更方便。</p>
    </div>
    <div class="wx_code_box">
        <div class="img_box">
            <img width="100%" height="100%" src="../../img/erweima.jpg">
        </div>
        <p class="wx_text">长按二维码保存图片<br>微信识别关注公众号</p>
    </div>
</section>
</body>
</html>