<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加银行卡</title>
    @@include('../common/layout.inc')
</head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">添加银行卡</h1>
    </header>
    <section class="page_content">
        <div class="add_error_box">
            <div class="img_box">
                <img width="100%" height="100%" src="../../img/icons/bank_error_img.png">
            </div>
            <p class="error_text">抱歉添加银行卡失败</p>
        </div>
        <a class="a_btn_box">
            <button class="return_btn">返回</button>
        </a>
    </section>
</section>
</body>
</html>