<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览记录</title>
    @@include('../common/layout.inc')
    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
</head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">新增收货地址</h1>
        <div id="b_btn">编辑</div>
    </header>
    <section class="page_content">
        <div class="record_list_box">
            <header class="time_title"><input type="checkbox" class="all_input_reset">12月08日</header>
            <div class="list_content">
                <div class="list_border">
                    <input type="checkbox" class="input_reset">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
                <div class="list_border">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="record_list_box">
            <header class="time_title">12月08日</header>
            <div class="list_content">
                <div class="list_border">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="record_list_box">
            <header class="time_title">12月08日</header>
            <div class="list_content">
                <div class="list_border">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="record_list_box">
            <header class="time_title">12月08日</header>
            <div class="list_content">
                <div class="list_border">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="record_list_box">
            <header class="time_title">12月08日</header>
            <div class="list_content">
                <div class="list_border">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="record_list_box">
            <header class="time_title">12月08日</header>
            <div class="list_content">
                <div class="list_border">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="record_list_box">
            <header class="time_title">12月08日</header>
            <div class="list_content">
                <div class="list_border">
                    <div class="img_box"><img width="100%" height="100%" src="../../img/record_img.jpg"></div>
                    <div class="right_content">
                        <div class="title_box"><span class="t_title">特卖</span><span class="title">ONLY2017冬季新款可拆卸帽子风衣外套女</span></div>
                        <div class="note_price_box">
                            <div class="price_box">
                                <span class="price">￥<em>349</em></span>
                                <span class="n_price">赚￥<em>10</em></span>
                            </div>
                            <div class="look_btn">看相似 ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
</body>
</html>