<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    @@include('../common/layout.inc')
    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
</head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">订单详情</h1>
    </header>
    <section class="page_content">
        <!--订单状态-待收货-->
        <div class="top_state_box">
            <p class="order_state">订单状态：<span class="state">待收货</span></p>
            <p>订单编号：<span>201712051610441924</span></p>
            <p>下单时间：<span>2017-12-06 16:10:44</span></p>
            <p>付款时间：<span>2017-12-06 16:11:02</span></p>
            <p>发货时间：<span>2017-12-07 08:52:00</span></p>
        </div>
        <!--订单状态-待支付-->
        <div class="top_state_box">
            <p class="order_state">订单状态：<span class="state">待支付</span></p>
            <p>付款剩余时间：<span>29:44</span></p>
            <p>订单编号：<span>201712051610441924</span></p>
            <p>下单时间：<span>2017-12-06 16:11:02</span></p>
        </div>
        <!--订单状态-待支付-->
        <div class="top_state_box">
            <p class="order_state">订单状态：<span class="state">交易成功</span></p>
            <p>di：<span>29:44</span></p>
            <p>订单编号：<span>201712051610441924</span></p>
            <p>下单时间：<span>2017-12-06 16:10:44</span></p>
            <p>付款时间：<span>2017-12-06 16:11:02</span></p>
            <p>发货时间：<span>2017-12-07 08:52:00</span></p>
            <p>成交时间：<span>2017-12-07 08:52:00</span></p>
            <p>买家留言：<span>谢谢帮我包装的精美一些,我用来送朋友的。</span></p>
        </div>
        <!--送货员派件-->
        <div class="send_box">
            <div class="btm_line">
                <i class="car_bg"></i>
                <div class="send_content">[宁波市],中河街道市场部派件员：小猪<a href="tel:19668939669">19668939669</a>正在为您派件</div>
                <p class="time">2017-12-09 09:13:26</p>
                <i class="right_icon iconfont"></i>
            </div>
        </div>
        <!--已签收-->
        <div class="send_box">
            <div class="btm_line">
                <i class="lv_car_bg"></i>
                <div class="lv_send_content">[上海市]【已签收，签收人是收发章】，感谢使用顺丰</div>
                <p class="time">2017-12-09 09:13:26</p>
                <i class="right_icon iconfont"></i>
            </div>
        </div>
        <!--地址-->
        <div class="address_box">
            <i class="address_bg"></i>
            <div class="address_content">
                <div class="name_or_phone">
                    <p class="name">周杰伦</p>
                    <p class="phone">18312345678</p>
                </div>
                <p class="address_val">浙江省宁波市鄞州区天童北路933号和邦大厦C座17幢170</p>
            </div>
        </div>
        <!--商品信息-->
        <div class="goods_box">
            <div class="goods_content">
                <div class="goods_top_content">
                    <div class="img_box">
                        <img width="100%" height="100%" src="../../img/record_img.jpg">
                    </div>
                    <div class="title_content">
                        <h2 class="title">乐町2017秋冬季新款女装时尚两面穿羽绒服女中长款连帽</h2>
                        <div class="note_div">
                            <span class="text"><i>粉色现货</i>,<i>155/S</i></span>
                        </div>
                    </div>
                    <div class="right_content">
                        <div class="price">￥<span>579.00</span></div>
                        <div class="n_price">赚￥<span>12</span></div>
                        <div class="j_num">x<span>1</span></div>
                    </div>
                </div>
                <div class="goods_price_content">
                    <div class="list_price">
                        <span class="tit_name">商品金额</span>
                        <p class="price">￥<span>579.00</span></p>
                    </div>
                    <div class="list_price">
                        <span class="tit_name">优惠</span>
                        <p class="price">-￥<span>0.00</span></p>
                    </div>
                    <div class="list_price">
                        <span class="tit_name">使用余额</span>
                        <p class="price">-￥<span>0.00</span></p>
                    </div>
                    <div class="list_price">
                        <span class="tit_name">运费</span>
                        <p class="price">+￥<span>0.00</span></p>
                    </div>
                    <i class="line_top_bg"></i>
                </div>
                <div class="paid_money">
                    <p class="tit">实付金额</p>
                    <p class="num">￥<span>574.00</span></p>
                </div>
            </div>

        </div>
        <!--查看物流-->
        <footer class="footer_btn_box fixed_jycg" style="display:none">
            <button class="look_btn">查看物流</button>
        </footer>
        <!--待支付fixed-->
        <footer class="footer_btn_box fixed_dzf" style="display:block">
            <p class="text">共<span class="num">2</span>件商品 合计￥<span class="price">579.00</span></p>
            <button class="look_btn sure_btn">立即付款</button>
            <button class="look_btn">查看物流</button>
        </footer>
        <!--待收货fixed-->
        <footer class="footer_btn_box fixed_dsh" style="display:none">
            <button class="look_btn sure_btn">确认收货</button>
            <button class="look_btn">查看物流</button>
        </footer>
    </section>
</section>
</body>
</html>