<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人资料</title>
    @@include('../common/layout.inc')
    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
</head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">个人资料</h1>
    </header>
    <section class="page_content">
        <header class="header_img_box">
            <div class="img_box">
                <img width="100%" height="100%" src="../../img/person_header_img.png">
            </div>
            <p class="title">头像资料</p>
            <i class="right_icon iconfont"></i>
        </header>
        <div class="person_list">
            <label>用户昵称</label>
            <p class="state_text">未认证</p>
            <i class="right_icon iconfont"></i>
        </div>
        <div class="person_list">
            <label>商铺昵称</label>
            <p class="state_text">未认证</p>
            <i class="right_icon iconfont"></i>
        </div>
    </section>
</section>
</body>
</html>