<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理收货地址</title>
    @@include('../common/layout.inc')
    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
</head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">管理收货地址</h1>
    </header>
    <section class="page_content">
        <div class="address_list">
            <header class="header_title">
                <div class="namePhone">
                    <p class="name">周杰伦</p>
                    <p class="phone">18312345678</p>
                </div>
                <p class="address_text">浙江省宁波市鄞州区天童北路933号和邦大厦C座17幢1701</p>
            </header>
            <div class="poerate_box">
                <div class="active_box">
                    <div class="state active"></div>
                    <p class="text">设为默认地址</p>
                </div>
                <div class="btn_box">
                    <button class="btn">删除</button>
                    <button class="btn">编辑</button>
                </div>
            </div>
        </div>
        <div class="address_list">
            <header class="header_title">
                <div class="namePhone">
                    <p class="name">周杰伦</p>
                    <p class="phone">18312345678</p>
                </div>
                <p class="address_text">浙江省宁波市鄞州区天童北路933号和邦大厦C座17幢1701</p>
            </header>
            <div class="poerate_box">
                <div class="active_box">
                    <div class="state"></div>
                    <p class="text">设为默认地址</p>
                </div>
                <div class="btn_box">
                    <button class="btn">删除</button>
                    <button class="btn">编辑</button>
                </div>
            </div>
        </div>
        <div class="address_list">
            <header class="header_title">
                <div class="namePhone">
                    <p class="name">周杰伦</p>
                    <p class="phone">18312345678</p>
                </div>
                <p class="address_text">浙江省宁波市鄞州区天童北路933号和邦大厦C座17幢1701</p>
            </header>
            <div class="poerate_box">
                <div class="active_box">
                    <div class="state"></div>
                    <p class="text">设为默认地址</p>
                </div>
                <div class="btn_box">
                    <button class="btn">删除</button>
                    <button class="btn">编辑</button>
                </div>
            </div>
        </div>
        <div class="address_list">
            <header class="header_title">
                <div class="namePhone">
                    <p class="name">周杰伦</p>
                    <p class="phone">18312345678</p>
                </div>
                <p class="address_text">浙江省宁波市鄞州区天童北路933号和邦大厦C座17幢1701</p>
            </header>
            <div class="poerate_box">
                <div class="active_box">
                    <div class="state"></div>
                    <p class="text">设为默认地址</p>
                </div>
                <div class="btn_box">
                    <button class="btn">删除</button>
                    <button class="btn">编辑</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer_btn">新增收货地址</footer>
</section>


</body>
</html>