<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>搜索</title>
    @@include('../common/layout.html')
</head>
<body>
<section class="search_box">
    <div class="top_search_input">
        <a class="iconfont return_icon"></a>
        <div class="search_input">
            <i class="iconfont search_icon"></i>
            <input type="text" placeholder="车牌/车主/业务员/客户姓名">
            <i class="iconfont close_btn input_clean_btn"></i>
        </div>
        <a class="search_text">搜索</a>
    </div>
    <section class="search_result_box">
        <div class="title_box">
            搜索历史<i class="iconfont close_btn"></i>
        </div>
        <ul class="result_ul">

        </ul>
    </section>
</section>
</body>
</html>