<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加银行卡</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
<script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>

    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
<link rel="shortcut icon" href="/shopMallStatic/users_ico.ico"><link href="/shopMallStatic/css/user\add_bank.css?3f55efaa3b933584313c" rel="stylesheet"></head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">添加银行卡</h1>
    </header>
    <section class="page_content">
        <div class="form_box">
            <form class="form">
                <div class="input_box">
                    <p class="input_title name_title">持卡人姓名<i class="th_bg"></i></p>
                    <div class="form_input">
                        <input type="text" >
                        <i class="delete iconfont"></i>
                    </div>
                </div>
                <div class="input_box">
                    <p class="input_title">银行预留手机号</p>
                    <div class="form_input">
                        <input type="text" >
                        <i class="delete iconfont"></i>
                    </div>
                </div>
                <div class="input_box">
                    <p class="input_title">银行卡号</p>
                    <div class="form_input">
                        <input type="text" >
                        <i class="delete iconfont"></i>
                    </div>
                </div>
                <div class="input_box">
                    <p class="input_title">开卡银行</p>
                    <div class="form_input">
                        <select class="select_box">
                            <option>中国银行</option>
                            <option>农业银行</option>
                            <option>工商银行</option>
                        </select>
                        <i class="right_icon iconfont"></i>
                    </div>
                </div>
            </form>
        </div>
        <div class="btn_box">
            <button class="submit_btn">提交</button>
        </div>

    </section>
</section>
<script type="text/javascript" src="/shopMallStatic/js/user\add_bank.js?3f55efaa3b933584313c"></script></body>
</html>