<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>银行卡详情</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
<script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>

<link rel="shortcut icon" href="/shopMallStatic/users_ico.ico"><link href="/shopMallStatic/css/user\bank_details.css?3f55efaa3b933584313c" rel="stylesheet"></head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">银行卡详情</h1>
    </header>
    <section class="page_content">
        <ul class="bank_list_box">
            <li class="bank_list">
                <div class="bank_img">
                    <img width="100%" height="100%" src="/shopMallStatic/img/40e6c15dc402d510e20d3e2d26edfdd3.jpg">
                    <div class="bank_content">
                        <p class="name">周杰伦</p>
                        <p class="bank_name">中国银行</p>
                        <div class="bank_num">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;<span>6222</span></div>
                    </div>
                </div>
            </li>
            <li class="bank_list">
                <div class="bank_img">
                    <img width="100%" height="100%" src="/shopMallStatic/img/40e6c15dc402d510e20d3e2d26edfdd3.jpg">
                    <div class="bank_content">
                        <p class="name">周杰伦</p>
                        <p class="bank_name">中国银行</p>
                        <div class="bank_num">****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;****&nbsp;&nbsp;&nbsp;<span>6222</span></div>
                    </div>
                </div>
            </li>
        </ul>
        <a class="a_btn_box">
            <button class="relieve_bind_btn">解除绑定</button>
        </a>
    </section>
    <!--解除绑定弹窗-->
    <div class="relieve_popup">
        <div class="mask_box"></div>
        <div class="popup_content_box">
            <h2 class="popup_tit">解除绑定</h2>
            <p class="text">确定解除该张银行卡吗?</p>
            <div class="btn_box">
                <button class="btn">确定</button>
                <button class="btn">取消</button>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="/shopMallStatic/js/user\bank_details.js?3f55efaa3b933584313c"></script></body>
</html>