<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
<script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>

    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
<link rel="shortcut icon" href="/shopMallStatic/users_ico.ico"><link href="/shopMallStatic/css/user\modify_password.css?3f55efaa3b933584313c" rel="stylesheet"></head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">修改密码</h1>
    </header>
    <section class="page_content">
        <header class="phone_box">已验证手机：<span class="phone">130****2456</span></header>
        <form class="form">
            <div class="input_box">
                <label>输入验证码</label>
                <div class="form_input">
                    <input class="input" type="text" placeholder="输入验证码">
                </div>
                <div class="verify_btn">获取验证码</div>
            </div>
            <div class="input_box">
                <label>设置新密码</label>
                <div class="form_input">
                    <input class="input" type="text" placeholder="输入新密码">
                </div>
            </div>
            <div class="input_box">
                <label>确认新密码</label>
                <div class="form_input">
                    <input class="input" type="text" placeholder="输入新密码">
                </div>
            </div>

        </form>
        <div class="btn_box">
            <button class="keep_btn">确认保存</button>
        </div>
    </section>
</section>
<script type="text/javascript" src="/shopMallStatic/js/user\modify_password.js?3f55efaa3b933584313c"></script></body>
</html>