<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的订单</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
<script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>

    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
<link rel="shortcut icon" href="/shopMallStatic/users_ico.ico"><link href="/shopMallStatic/css/user\my_order.css?3f55efaa3b933584313c" rel="stylesheet"></head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">我的订单</h1>
    </header>
    <section class="page_content">
        <section class="tab_box content_box">
            <nav class="nav_tab_box tab_box">
                <ul class="ul">
                    <li class="tab_btn">全部</li>
                    <li class="tab_btn">待支付</li>
                    <li class="tab_btn">待收货</li>
                    <li class="tab_btn">已完成</li>
                </ul>
                <div class="move_line"></div>
            </nav>
            <div class="content_list_box">
                <!--全部-->
                <div class="content_box tab_content">
                    <div class="shop_list">
                        <div class="order_number_box">
                            <h2 class="order_number">订单编号:<span>201712051610441924</span></h2>
                            <p class="state_text">待支付</p>
                        </div>
                        <div class="shop_product">
                            <div class="img_box">
                                <img width="100%" height="100%" src="/shopMallStatic/img/5c7221bca8b4a42045841b3f88ed49f6.jpg">
                            </div>
                            <div class="title_content">
                                <h2 class="title">乐町2017秋冬季新款女装时尚两面穿羽绒服女中长款连帽</h2>
                                <div class="note_div">
                                    <span class="text"><i>粉色现货</i>,<i>155/S</i></span>
                                </div>
                            </div>
                            <div class="right_content">
                                <div class="price">￥<span>579.00</span></div>
                                <div class="n_price">赚￥<span>12</span></div>
                                <div class="j_num">x<span>1</span></div>
                            </div>
                        </div>
                        <div class="shop_product">
                            <div class="img_box">
                                <img width="100%" height="100%" src="/shopMallStatic/img/5c7221bca8b4a42045841b3f88ed49f6.jpg">
                            </div>
                            <div class="title_content">
                                <h2 class="title">乐町2017秋冬季新款女装时尚两面穿羽绒服女中长款连帽</h2>
                                <div class="note_div">
                                    <span class="text"><i>粉色现货</i>,<i>155/S</i></span>
                                </div>
                            </div>
                            <div class="right_content">
                                <div class="price">￥<span>579.00</span></div>
                                <div class="n_price">赚￥<span>12</span></div>
                                <div class="j_num">x<span>1</span></div>
                            </div>
                        </div>
                        <div class="all_btn_box">
                            <p class="all_price_box">共<span class="num">1</span>件商品 合计￥<span class="all_price">574.00</span></p>
                            <div class="btn_box">
                                <button class="btn cancel_btn">取消订单</button>
                                <button class="btn payment_btn">付款</button>
                            </div>
                        </div>
                    </div>
                    <div class="shop_list">
                        <div class="order_number_box">
                            <h2 class="order_number">订单编号:<span>201712051610441924</span></h2>
                            <p class="state_text">卖家已发货</p>
                        </div>
                        <div class="shop_product">
                            <div class="img_box">
                                <img width="100%" height="100%" src="/shopMallStatic/img/5c7221bca8b4a42045841b3f88ed49f6.jpg">
                            </div>
                            <div class="title_content">
                                <h2 class="title">乐町2017秋冬季新款女装时尚两面穿羽绒服女中长款连帽</h2>
                                <div class="note_div">
                                    <span class="text"><i>粉色现货</i>,<i>155/S</i></span>
                                </div>
                            </div>
                            <div class="right_content">
                                <div class="price">￥<span>579.00</span></div>
                                <div class="n_price">赚￥<span>12</span></div>
                                <div class="j_num">x<span>1</span></div>
                            </div>
                        </div>
                        <div class="shop_product">
                            <div class="img_box">
                                <img width="100%" height="100%" src="/shopMallStatic/img/5c7221bca8b4a42045841b3f88ed49f6.jpg">
                            </div>
                            <div class="title_content">
                                <h2 class="title">乐町2017秋冬季新款女装时尚两面穿羽绒服女中长款连帽</h2>
                                <div class="note_div">
                                    <span class="text"><i>粉色现货</i>,<i>155/S</i></span>
                                </div>
                            </div>
                            <div class="right_content">
                                <div class="price">￥<span>579.00</span></div>
                                <div class="n_price">赚￥<span>12</span></div>
                                <div class="j_num">x<span>1</span></div>
                            </div>
                        </div>
                        <div class="all_btn_box">
                            <p class="all_price_box">共<span class="num">1</span>件商品 合计￥<span class="all_price">574.00</span></p>
                            <div class="btn_box">
                                <button class="btn cancel_btn">查看物流</button>
                                <button class="btn payment_btn">确认收货</button>
                            </div>
                        </div>
                    </div>
                    <div class="shop_list">
                        <div class="order_number_box">
                            <h2 class="order_number">订单编号:<span>201712051610441924</span></h2>
                            <p class="state_text">交易成功</p>
                        </div>
                        <div class="shop_product">
                            <div class="img_box">
                                <img width="100%" height="100%" src="/shopMallStatic/img/5c7221bca8b4a42045841b3f88ed49f6.jpg">
                            </div>
                            <div class="title_content">
                                <h2 class="title">乐町2017秋冬季新款女装时尚两面穿羽绒服女中长款连帽</h2>
                                <div class="note_div">
                                    <span class="text"><i>粉色现货</i>,<i>155/S</i></span>
                                </div>
                            </div>
                            <div class="right_content">
                                <div class="price">￥<span>579.00</span></div>
                                <div class="n_price">赚￥<span>12</span></div>
                                <div class="j_num">x<span>1</span></div>
                            </div>
                        </div>
                        <div class="shop_product">
                            <div class="img_box">
                                <img width="100%" height="100%" src="/shopMallStatic/img/5c7221bca8b4a42045841b3f88ed49f6.jpg">
                            </div>
                            <div class="title_content">
                                <h2 class="title">乐町2017秋冬季新款女装时尚两面穿羽绒服女中长款连帽</h2>
                                <div class="note_div">
                                    <span class="text"><i>粉色现货</i>,<i>155/S</i></span>
                                </div>
                            </div>
                            <div class="right_content">
                                <div class="price">￥<span>579.00</span></div>
                                <div class="n_price">赚￥<span>12</span></div>
                                <div class="j_num">x<span>1</span></div>
                            </div>
                        </div>
                        <div class="all_btn_box">
                            <p class="all_price_box">共<span class="num">1</span>件商品 合计￥<span class="all_price">574.00</span></p>
                            <div class="btn_box">
                                <button class="btn cancel_btn">删除订单</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--待支付-->
                <div class="content_box tab_content"></div>
                <!--待收货-->
                <div class="content_box tab_content"></div>
                <!--已完成-->
                <div class="content_box tab_content"></div>
            </div>
        </section>

    </section>
</section>
<script type="text/javascript" src="/shopMallStatic/js/user\my_order.js?3f55efaa3b933584313c"></script></body>
</html>