<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
<script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>

    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
<link rel="shortcut icon" href="/shopMallStatic/users_ico.ico"><link href="/shopMallStatic/css/user\person_setup.css?3f55efaa3b933584313c" rel="stylesheet"></head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">设置</h1>
    </header>
    <section class="page_content">
        <div class="form_box">
            <div class="set_list_box">
                <div class="list_box">
                    <header class="header_box">
                        <div class="img_box">
                            <img width="100%" height="100%" src="/shopMallStatic/img/5e87ddc23327b6f7fcb7ec67671add36.png">
                        </div>
                        <div class="header_text">
                            <div class="name_box">
                                <h2 class="name">小菲菲</h2>
                                <p class="shop_name">店铺名称<span>小菲菲杂货铺</span></p>
                            </div>
                        </div>
                        <i class="right_icon iconfont"></i>
                    </header>
                    <div class="set_list">
                        <label>手机</label>
                        <p class="state_text">未认证</p>
                        <i class="right_icon iconfont"></i>
                    </div>
                    <div class="set_list">
                        <label>邮箱</label>
                        <p class="state_text">未认证</p>
                        <i class="right_icon iconfont"></i>
                    </div>
                    <div class="set_list">
                        <label>实名认证</label>
                        <p class="state_text">未认证</p>
                        <i class="right_icon iconfont"></i>
                    </div>
                    <div class="set_list">
                        <label>修改密码</label>
                        <i class="right_icon iconfont"></i>
                    </div>

                </div>
            </div>
        </div>
        <section class="btn_box">
        <button class="exit_btn">安全退出</button>
        </section>
    </section>
</section>
<script type="text/javascript" src="/shopMallStatic/js/user\person_setup.js?3f55efaa3b933584313c"></script></body>
</html>