<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>七日收益明细</title>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
<script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>

    <link rel="stylesheet" href="../../bin/fonts/iconfont.css">
<link rel="shortcut icon" href="/shopMallStatic/users_ico.ico"><link href="/shopMallStatic/css/user\qr_profit_details.css?3f55efaa3b933584313c" rel="stylesheet"></head>
<body>
<section class="page">
    <header class="page_header_title">
        <a class="page_return_btn"><i></i></a>
        <h1 class="page_title">七日收益明细</h1>
    </header>
    <section class="page_content">
        <div class="list_details_box">
            <h2 class="title">返现</h2>
            <div class="money_box">
                <p class="tit_label">奖励</p>
                <p class="money">￥<span>500</span></p>
            </div>
            <div class="time">2017-12-08 11:29:30</div>
        </div>
        <div class="list_details_box">
            <h2 class="title">返现</h2>
            <div class="money_box">
                <p class="tit_label">奖励</p>
                <p class="money">￥<span>500</span></p>
            </div>
            <div class="time">2017-12-08 11:29:30</div>
        </div>
        <div class="list_details_box">
            <h2 class="title">返现</h2>
            <div class="money_box">
                <p class="tit_label">佣金</p>
                <p class="money">￥<span>500</span></p>
            </div>
            <div class="time">2017-12-08 11:29:30</div>
        </div>
        <div class="list_details_box">
            <h2 class="title">返现</h2>
            <div class="money_box">
                <p class="tit_label">佣金</p>
                <p class="money">￥<span>500</span></p>
            </div>
            <div class="time">2017-12-08 11:29:30</div>
        </div>
    </section>
</section>
<script type="text/javascript" src="/shopMallStatic/js/user\qr_profit_details.js?3f55efaa3b933584313c"></script></body>
</html>