<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    @@include('../common/layout.inc')
    <link rel="stylesheet" href="../../bin/swiper-3.4.2.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../bin/swiper-3.4.2.min.js"></script>
</head>
<body>
<section class="page">
<!--绑定手机弹窗-->
<div class="bind_phone_popup">
    <div class="mask_box"></div>
    <div class="popup_content">
        <div class="header_title">请先绑定手机号</div>
        <form class="form">
            <div class="input_box">
                <label class="gj">国家和地区</label>
                <div class="wheel_box">中国</div>
                <i class="right_icon"></i>
            </div>
            <div class="input_box">
                <label>+86</label>
                <input type="text" placeholder="请输入手机号">
                <i class="right_icon"></i>
            </div>
            <div class="verify_box">
                <input class="label_title" type="text" placeholder="请输入短信验证码">
                <div class="verify_btn">获取验证码</div>
            </div>
        </form>
        <section class="btn_box">
            <button class="bind_btn">立即绑定</button>
        </section>
    </div>
</div>
<section class="search_box">
    <div class="scroll_text_btn"><div class="pos"><i></i>搜索品牌、商品或商家</div></div>
</section>
    <!--<img width="100%" height="100%" src="../../img/index_carousel_img.jpg">-->
<!--页面核心内容-->

    <!--顶部轮播-->
    <div class="swiper-container" id="swiper1">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-swiper-autoplay="3000"><img width="100%" height="100%" src="../../img/index_carousel_img.jpg"></div>
            <div class="swiper-slide" data-swiper-autoplay="3000"><img width="100%" height="100%" src="../../img/index_carousel_img.jpg"></div>
            <div class="swiper-slide" data-swiper-autoplay="3000"><img width="100%" height="100%" src="../../img/index_carousel_img.jpg"></div>
            <div class="swiper-slide" data-swiper-autoplay="3000"><img width="100%" height="100%" src="../../img/index_carousel_img.jpg"></div>
            <div class="swiper-slide" data-swiper-autoplay="3000"><img width="100%" height="100%" src="../../img/index_carousel_img.jpg"></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div><!--分页器-->

    </div>
    <!--icon导航-->
    <section class="nav_icon_box">
        <ul class="nav_box">
            <li>
                <div class="icon_box cx">
                    <i></i>
                </div>
                <p class="icon_text">车险</p>
            </li>
            <li>
                <div class="icon_box sp">
                    <i></i>
                </div>
                <p class="icon_text">食品</p>
            </li>
            <li>
                <div class="icon_box mzrh">
                    <i></i>
                </div>
                <p class="icon_text">美妆日化</p>
            </li>
            <li>
                <div class="icon_box hrj">
                    <i></i>
                </div>
                <p class="icon_text">韩日街</p>
            </li>
            <li>
                <div class="icon_box omf">
                    <i></i>
                </div>
                <p class="icon_text">欧美风</p>
            </li>
            <li>
                <div class="icon_box jkc">
                    <i></i>
                </div>
                <p class="icon_text">平行进口车</p>
            </li>
            <li>
                <div class="icon_box jjry">
                    <i></i>
                </div>
                <p class="icon_text">家居日用</p>
            </li>
            <li>
                <div class="icon_box mycs">
                    <i></i>
                </div>
                <p class="icon_text">母婴超市</p>
            </li>
            <li>
                <div class="icon_box xf">
                    <i></i>
                </div>
                <p class="icon_text">鞋服</p>
            </li>
            <li>
                <div class="icon_box dq">
                    <i></i>
                </div>
                <p class="icon_text">电器</p>
            </li>
        </ul>
    </section>
    <!--限时特卖-->

    <section class="time_sale_box">
        <header class="header_title_box">
            <div class="look_all_btn">查看全部<span><i></i></span></div>
            <div class=title><i></i>限时特卖</div>
        </header>
        <div class="wrapper_time swiper-container" id="swiper2">
            <ul class="content_box swiper-wrapper">
                <li class="swiper-slide">
                    <div class="time_box"><i class="left_bg"></i><span>02:00:51</span><i class="right_bg"></i></div>
                    <div class="li_content">
                        <div class="img_box"><img width="100%" height="100%" src="../../img/index_time_img.jpg"></div>
                        <div class="right_content_box">
                            <h2 class="title">Yves Saint Laurent</h2>
                            <p class="note_title">新烟花限量版观唇膏(阿设计开发哈市发挥)</p>
                            <div class="price_box">
                                <div class="price">￥<span>279</span></div>
                                <div class="n_price">
                                    <span class="vis">赚￥<em>15</em></span>
                                    <span class="non">赚￥<em>15</em></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="swiper-slide">
                    <div class="time_box"><i class="left_bg"></i><span>02:00:51</span><i class="right_bg"></i></div>
                    <div class="li_content">
                        <div class="img_box"><img width="100%" height="100%" src="../../img/index_time_img.jpg"></div>
                        <div class="right_content_box">
                            <h2 class="title">Yves Saint Laurent</h2>
                            <p class="note_title">新烟花限量版观唇膏(阿设计开发哈市发挥)</p>
                            <div class="price_box">
                                <div class="price">￥<span>279</span></div>
                                <div class="n_price">
                                    <span class="vis">赚￥<em>15</em></span>
                                    <span class="non">赚￥<em>15</em></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="swiper-slide">
                    <div class="time_box"><i class="left_bg"></i><span>02:00:51</span><i class="right_bg"></i></div>
                    <div class="li_content">
                        <div class="img_box"><img width="100%" height="100%" src="../../img/index_time_img.jpg"></div>
                        <div class="right_content_box">
                            <h2 class="title">Yves Saint Laurent</h2>
                            <p class="note_title">新烟花限量版观唇膏(阿设计开发哈市发挥)</p>
                            <div class="price_box">
                                <div class="price">￥<span>279</span></div>
                                <div class="n_price">
                                    <span class="vis">赚￥<em>15</em></span>
                                    <span class="non">赚￥<em>15</em></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
                <li class="swiper-slide">
                    <div class="time_box"><i class="left_bg"></i><span>02:00:51</span><i class="right_bg"></i></div>
                    <div class="li_content">
                        <div class="img_box"><img width="100%" height="100%" src="../../img/index_time_img.jpg"></div>
                        <div class="right_content_box">
                            <h2 class="title">Yves Saint Laurent</h2>
                            <p class="note_title">新烟花限量版观唇膏(阿设计开发哈市发挥)</p>
                            <div class="price_box">
                                <div class="price">￥<span>279</span></div>
                                <div class="n_price">
                                    <span class="vis">赚￥<em>15</em></span>
                                    <span class="non">赚￥<em>15</em></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </section>
    <!--新品热卖-->
    <section class="new_hot_box">
        <div class="banner_box">
            <img class="lazy" width="100%" height="100%" data-src="../../img/index_hot_banner.png" src="../../img/lazy.png">
        </div>
        <div class="hot_product_box sale_list_box">
            <ul class="content_box">
                <!--<li class="product_content">-->
                    <!--<a>-->
                        <!--<div class="img_box">-->
                            <!--<img width="100%" height="100%" src="../../img/new_product_img.jpg">-->
                        <!--</div>-->
                        <!--<p class="p_name">Princetown系列双G皮革拖鞋</p>-->
                        <!--<div class="price_box">-->
                            <!--<p class="price">￥<span>7900</span></p>-->
                            <!--<p class="n_price">赚￥<span>6</span></p>-->
                        <!--</div>-->
                    <!--</a>-->

                <!--</li>-->
                <!--<li class="product_content">-->
                    <!--<a>-->
                        <!--<div class="img_box">-->
                            <!--<img width="100%" height="100%" src="../../img/new_product_img.jpg">-->
                        <!--</div>-->
                        <!--<p class="p_name">Princetown系列双G皮革拖鞋</p>-->
                        <!--<div class="price_box">-->
                            <!--<p class="price">￥<span>7900</span></p>-->
                            <!--<p class="n_price">赚￥<span>6</span></p>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="product_content">-->
                    <!--<a>-->
                        <!--<div class="img_box">-->
                            <!--<img width="100%" height="100%" src="../../img/new_product_img.jpg">-->
                        <!--</div>-->
                        <!--<p class="p_name">Princetown系列双G皮革拖鞋</p>-->
                        <!--<div class="price_box">-->
                            <!--<p class="price">￥<span>7900</span></p>-->
                            <!--<p class="n_price">赚￥<span>6</span></p>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="product_content">-->
                    <!--<a>-->
                        <!--<div class="img_box">-->
                            <!--<img width="100%" height="100%" src="../../img/new_product_img.jpg">-->
                        <!--</div>-->
                        <!--<p class="p_name">Princetown系列双G皮革拖鞋</p>-->
                        <!--<div class="price_box">-->
                            <!--<p class="price">￥<span>7900</span></p>-->
                            <!--<p class="n_price">赚￥<span>6</span></p>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </section>
    <!--特卖专场-->
    <section class="section_content_box">
        <div class="banner_box">
            <img class="lazy" width="100%" height="100%" data-src="../../img/index_sale_banner.jpg" src="../../img/lazy.png">
        </div>
        <div class="sale_list_box hot_product_box">
            <ul class="content_box">
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/iphone.png" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">苹果iPhone8Plus</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">博朗WK300 1.7L大容量 电水壶</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!--精品推荐-->
    <section class="section_content_box">
        <div class="banner_box">
            <img class="lazy" width="100%" height="100%" data-src="../../img/index_recom_banner.png" src="../../img/lazy.png">
        </div>
        <div class="sale_list_box hot_product_box">
            <ul class="content_box">
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/iphone.png" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">苹果iPhone8Plus</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">博朗WK300 1.7L大容量 电水壶</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
                <li class="product_content">
                    <a>
                        <div class="img_box">
                            <img class="lazy" width="100%" height="100%" data-src="../../img/new_product_img.jpg" src="../../img/lazy.png">
                        </div>
                        <p class="p_name">膳魔师超轻真空大容量保温杯</p>
                        <div class="price_box">
                            <p class="price">￥<span>6199</span></p>
                            <p class="n_price">赚￥<span>20</span></p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!--猜你喜欢-->
    <section class="you_like_box">
        <header class="header_box">
            <div class="title">
                <i></i>猜你喜欢
            </div>
        </header>
        <div class="product_list_box">
            <div class="list_content">
                <div class="img_box">
                    <div class="brand">ONLY</div>
                    <img width="100%" height="100%" src="../../img/index_like_img.jpg">
                </div>
                <div class="name_box">ONLY2017冬季新款可拆卸帽子风衣外套女</div>
                <div class="price_box">
                    <p class="price">￥<span>349</span></p>
                    <p class="n_price">赚￥<span>10</span></p>
                </div>
                <div class="a_page_box">
                    <div class="share_box a_box">
                        <i></i>
                        <span>分享</span>
                    </div>
                    <div class="shop_car_box a_box">
                        <i></i>
                        <span>购物车</span>
                    </div>
                </div>
            </div>
            <div class="list_content">
                <div class="img_box">
                    <div class="brand">ONLY</div>
                    <img width="100%" height="100%" src="../../img/index_like_img.jpg">
                </div>
                <div class="name_box">ONLY2017冬季新款可拆卸帽子风衣外套女</div>
                <div class="price_box">
                    <p class="price">￥<span>349</span></p>
                    <p class="n_price">赚￥<span>10</span></p>
                </div>
                <div class="a_page_box">
                    <div class="share_box a_box">
                        <i></i>
                        <span>分享</span>
                    </div>
                    <div class="shop_car_box a_box">
                        <i></i>
                        <span>购物车</span>
                    </div>
                </div>
            </div>
            <div class="list_content">
                <div class="img_box">
                    <div class="brand">ONLY</div>
                    <img width="100%" height="100%" src="../../img/index_like_img.jpg">
                </div>
                <div class="name_box">ONLY2017冬季新款可拆卸帽子风衣外套女</div>
                <div class="price_box">
                    <p class="price">￥<span>349</span></p>
                    <p class="n_price">赚￥<span>10</span></p>
                </div>
                <div class="a_page_box">
                    <div class="share_box a_box">
                        <i></i>
                        <span>分享</span>
                    </div>
                    <div class="shop_car_box a_box">
                        <i></i>
                        <span>购物车</span>
                    </div>
                </div>
            </div>
            <div class="list_content">
                <div class="img_box">
                    <div class="brand">ONLY</div>
                    <img width="100%" height="100%" src="../../img/index_like_img.jpg">
                </div>
                <div class="name_box">ONLY2017冬季新款可拆卸帽子风衣外套女</div>
                <div class="price_box">
                    <p class="price">￥<span>349</span></p>
                    <p class="n_price">赚￥<span>10</span></p>
                </div>
                <div class="a_page_box">
                    <div class="share_box a_box">
                        <i></i>
                        <span>分享</span>
                    </div>
                    <div class="shop_car_box a_box">
                        <i></i>
                        <span>购物车</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

@@include('../common/footer_nav.inc')
</section>
</body>
</html>