<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>光大银行专题页</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "光大银行专题页","txt":""})
<section class="special_page_content">
    <div class="img_box img1">
        <img class="lazy" width="100%" height="100%" src="../../img/lazy.png" data-src="../../img/zty_img01.jpg">
    </div>
    <div class="img_box img2">
        <img class="lazy" width="100%" height="100%" src="../../img/lazy.png" data-src="../../img/zty_img02.jpg">
    </div>
    <div class="img_box img3">
        <img class="lazy" width="100%" height="100%" src="../../img/lazy.png" data-src="../../img/zty_img03.jpg">
    </div>
    <div class="img_box img4">
        <img class="lazy" width="100%" height="100%" src="../../img/lazy.png" data-src="../../img/zty_img04.jpg">
    </div>
    <div class="img_box img5">
        <img class="lazy" width="100%" height="100%" src="../../img/lazy.png" data-src="../../img/zty_img05.jpg">
    </div>
    <div class="img_box img6">
        <img class="lazy" width="100%" height="100%" src="../../img/lazy.png" data-src="../../img/zty_img06.jpg">
    </div>
    <div class="footer_btn_box">
        <div class="pos_btn">
            <div class="btn">立即申请</div>
            <p class="footer_note_text">最终解释权归光大银行所有</p>
        </div>
    </div>
</section>
</body>
</html>