<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>Title</title>
    @@include('../common/layout.html')
</head>
<body>
<section class="red_envelopes_popup active">
    <div class="mask_box"></div>
    <div class="content_box">
        <div class="close_btn iconfont"></div>
        <p class="t_text">恭喜您,获得</p>
        <p class="price_box"><span>600</span>元新人车险红包</p>
        <button class="reveice_btn">立即领取</button>
    </div>
</section>
</body>
</html>