<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>领取红包</title>
    @@include('../common/layout.html')
</head>
<body>
<!--红包弹窗-->
<!--<section class="red_envelopes_popup">-->
    <!--<div class="mask_box"></div>-->
    <!--<div class="img_box">-->
        <!--<img width="100%" height="100%" src="../../img/red_envelopes_bg.png">-->
        <!--<div class="content_box">-->
            <!--<p class="text">恭喜你获得神秘礼包一个</p>-->
        <!--</div>-->
        <!--<button class="receive_btn">点击领取</button>-->
    <!--</div>-->
    <!--<div class="img_box_active">-->
        <!--<div class="close_btn"></div>-->
        <!--<img width="100%" height="100%" src="../../img/red_envelopes_active_bg.png">-->
        <!--<div class="top_text_box">-->
            <!--<div class="num_box">-->
                <!--<div class="num">200</div>-->
                <!--<div class="type_envelops">-->
                    <!--<div class="red_bg">车险专用</div>-->
                    <!--<p class="text">元车险红包</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<p class="time">截止日期：2018-12-31</p>-->
        <!--</div>-->
        <!--<div class="rule_box">-->
            <!--<h4 class="title">使用规则</h4>-->
            <!--<div class="rule_text">-->
                <!--<span>1.</span>红包仅限于极速优保平台或民商普惠金融商-->
                <!--城车险频道使用，支付时可直接减免。-->
            <!--</div>-->
            <!--<div class="rule_text">-->
                <!--<span>2.</span>红包仅支持车险保单商业险部分。-->
            <!--</div>-->
            <!--<div class="rule_text">-->
                <!--<span>3.</span>红包可叠加使用。-->
            <!--</div>-->
            <!--<div class="rule_text">-->
                <!--<span>4.</span>红包使用账号须与获得红包手机号一致。-->
            <!--</div>-->
            <!--<div class="rule_text">-->
                <!--<span>5.</span>渠道用户不参加红包活动。-->
            <!--</div>-->
            <!--<div class="rule_text">-->
                <!--<span>6.</span>本活动最终解释权归浙江民商普惠有限公司所有。-->
            <!--</div>-->
        <!--</div>-->
        <!--<button class="shade_btn">分享好友</button>-->
    <!--</div>-->
<!--</section>-->

</body>
