<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>网站页面升级中...</title>
    @@include('../common/layout.html')
</head>
<body>
<section class="page_content_box">
    <div class="logo_box">
        <img width="100%" height="100%" src="../../img/m_company_logo.jpg">
    </div>
    <div class="middle_content_box">
        <div class="img_box">
            <img width="100%" height="100%" src="../../img/m_state_img.jpg">
        </div>
        <p class="note_text">
            程序猿哥哥正在流泪吐血升级页面中，预计1小时<br>后恢复访问，新页面将更快更好看哟！
        </p>
    </div>
    <div class="footer_content_box">
        <p>浙江民商普惠信息科技有限公司</p>
        <p>浙ICP备17021113号-1</p>
    </div>
</section>
</body>
</html>