<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="applicable-device"content="pc,mobile"/>
    <script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>
    <title>极速优保-合作案例</title>
    <script src="http://cdn.upingou.com/pageShowStatic/bin/jquery-2.1.3.min.js"></script>
<link rel="shortcut icon" href="http://cdn.upingou.com/pageShowStatic/users_ico.ico"><link href="http://cdn.upingou.com/pageShowStatic/css/case\case.css?0a2826036e64786660bf" rel="stylesheet"></head>
<style>
    body{
        font-family: '微软雅黑';
    }
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
</style>
<body>
<!--顶部导航-->
<div class="page_nav_box">
    <div class="nav_content_box">
        <div class="logo">
        </div>
        <div class="tel_box">
            <i class="tel_bg"></i>400-880-2068
        </div>
        <div class="nav_a_box">
            <a class="nav" href="index.html">首页<i class="line"></i></a>
            <a class="nav" href="function.html">分期与功能<i class="line"></i></a>
            <a class="nav" href="js_zhao.html">代理招商<i class="line"></i></a>
            <a class="nav active" href="case.html">合作案例<i class="line"></i></a>
            <a class="nav" href="know.html">了解我们<i class="line"></i></a>
        </div>
    </div>
</div>
<!--移动端顶部导航-->
<div class="m_page_nav_box">
    <div class="nav_box">
        <i class="menu_icon iconfont"></i>
        <div class="logo_box">
        </div>
    </div>
    <div class="menu_popup_box">
        <div class="close_box">
            <i class="iconfont close_btn"></i>
        </div>
        <ul class="nav_show_box">
            <a href="index.html"><li class="index">首页</li></a>
            <a href="function.html"><li>分期与功能</li></a>
            <a href="js_zhao.html"><li>代理招商</li></a>
            <a href="case.html"><li class="active">合作案例</li></a>
            <a href="know.html"><li>了解我们</li></a>
        </ul>
    </div>
</div>
<div class="page_banner_box">
    <img width="100%" height="100%" src="http://cdn.upingou.com/pageShowStatic/img/f60cf244d17db2ad1e01061f1ac8915f.jpg">
</div>
<!--案例列表-->
<div class="case_list_box">
    <ul class="case_list_ul">
        <li class="case_list_li li1">

        </li>
        <li class="case_list_li li2">

        </li>
        <li class="case_list_li li3">

        </li>
    </ul>
</div>
<!--底部导航-->
<div class="footer_box">
    <div class="footer_content_box">
        <div class="left_content_box">
            <p class="title">联系我们</p>
            <p class="text">宁波极速优保信息科技有限公司</p>
            <p class="text">客服电话  <a href="tel:400-880-2068">400-880-2068</a></p>
            <p class="text">公司地址  宁波市鄞州区天童北路和邦大厦C座1605</p>
            <p class="text top_text">浙ICP备17027001号</p>
            <p class="text top_text">版权所有©2018</p>
        </div>
        <div class="right_box">
            <div class="right_er_box left">
                <div class="er_img_box">
                    <img width="100%" height="100%" src="http://cdn.upingou.com/pageShowStatic/img/22b3bb6455599ed13b4486c94353d78c.jpg">
                </div>
                <p class="text">极速优保渠道</p>
            </div>
            <div class="right_er_box">
                <div class="er_img_box">
                    <img width="100%" height="100%" src="http://cdn.upingou.com/pageShowStatic/img/0fb78d95c289cf7ecd231c4aa23c98a2.jpg">
                </div>
                <p class="text">极速优保车险</p>
            </div>
        </div>
        <p class="btm_text">浙ICP备17027001号</p>
        <p class="btm_text">版权所有©2018</p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.upingou.com/pageShowStatic/js/case\case.js?0a2826036e64786660bf"></script></body>
<script>
  $(function(){
    var winWidth = $(window).width();
    if(winWidth <= 768){
      $('.m_page_nav_box').find('.nav_show_box').find('a').eq(2).attr('href','http://mp.weixin.qq.com/s/mZWcEza64Qs_MmgFBEJQ1A');
    }
  })
</script>
</html>