@font-color:#333; /*字体主色*/
@font-fcolor:#999; /*字体副色*/
@border-color:#e5e5e5;  /*框颜色*/
@main-color:#248fea; /*网站主色*/
body{
    padding-bottom:0.4rem;
    font-family:"\5FAE\8F6F\96C5\9ED1","Microsoft Yahei", Tahoma, Arial, sans-serif;
}
*{
    margin:0;
    padding:0;
}
em{
    font-style:normal;
}
ul li{
    list-style:none
}
h1,h2,h3,h4,h5{
    font-weight:normal;
}
input,button{
    background:none;
    border:0;
    outline: none;
}
/*自定义样式*/
.text_hidden{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.box_position{
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.box_vertical_position{
    position: absolute;
    top:50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.shade_box{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:1;
    opacity:1;
    display:block;
    -webkit-transition: 0.5s;
    -moz-transition:  0.5s;
    -ms-transition:  0.5s;
    -o-transition:  0.5s;
    transition:  0.5s;
    background:rgba(0,0,0,0.8);
}
.ts{
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.form_box {
  width: 100%;
  background: #fff;
  margin-top: 44px;
}
.form_box .form_header_box {
  width: 100%;
  height: 0.86rem;
  line-height: 0.86rem;
  background: #efefef;
  font-size: 0;
  padding-left: 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form_box .form_header_box span {
  display: inline-block;
  font-size: 0.28rem;
  color: #333;
}
.form_box .form_header_box em {
  display: inline-block;
  font-size: 0.22rem;
  color: #999;
  margin-left: 0.2rem;
}
.form_box .form {
  width: 100%;
  padding: 0 0.3rem;
}
.form_box .form .input_box {
  width: 100%;
  padding-bottom: 0.12rem;
  border-bottom: #ccc 1px solid;
}
.form_box .form .input_box .input_title {
  width: 100%;
  font-size: 0.22rem;
  color: #333;
  padding: 0.2rem 0;
  margin: 0px;
}
.form_box .form .input_box .input {
  width: 100%;
}
.form_box .form .input_box .input input {
  display: block;
  border: none;
  outline: none;
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.28rem;
  color: #999;
  padding: 0px;
  margin: 0px;
}
.form_box .form .input_box:last-child {
  border-bottom: none;
}
.load_img_box {
  width: 100%;
  padding: 0 0.3rem;
}
.load_img_box .load_img_title {
  width: 100%;
  margin-bottom: 0.3rem;
}
.load_img_box .load_img_title .title {
  font-size: 0.28rem;
  color: #333;
  padding: 0.3rem 0;
}
.load_img_box .load_img_title .note_text {
  font-size: 0.22rem;
  color: #999;
  margin: 0px;
}
.load_img_box .load_img {
  width: 100%;
}
.load_img_box .load_img .load_ul {
  overflow: hidden;
  margin-right: -0.15rem;
}
.load_img_box .load_img .load_ul .load_li {
  float: left;
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
  margin-right: 0.15rem;
  overflow: hidden;
  margin-bottom: 0.2rem;
}
.load_img_box .load_img .load_ul .load_li .input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3.3rem;
  height: 3.3rem;
  opacity: 0;
}
.load_img_box .load_img .load_ul .load_li .load_text_show {
  position: absolute;
  bottom: 0.32rem;
  left: 50%;
  padding: 0 0.2rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  background: #3668db;
  font-size: 0.22rem;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  color: #fff;
  border-radius: 1%;
}
.sumbit_infor_btn {
  width: 6.9rem;
  height: 0.85rem;
  line-height: 0.85rem;
  background: #3668db;
  text-align: center;
  border-radius: 0.1rem;
  font-size: 0.3rem;
  color: #fff;
  margin: 0.3rem auto 0;
}
.prompt_text_box {
  width: 100%;
}
.prompt_text_box .title {
  width: 100%;
  padding: 0.3rem 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.28rem;
  color: #333;
  margin: 0px;
  border-bottom: #ccc 1px solid;
}
.prompt_text_box .text_infor_box {
  width: 100%;
  padding: 0 0.3rem;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.prompt_text_box .text_infor_box .text_box {
  width: 100%;
  padding: 0.2rem 0;
  text-align: justify;
  font-size: 0.28rem;
  color: #333;
  border-bottom: #ccc 1px solid;
}
.prompt_text_box .text_infor_box .text_box:last-child {
  border-bottom: none;
}
