<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>用户中心</title>
    <script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>
<link href="http://cdn.msphcn.com/dist/bin/mui.min.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.picker.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.poppicker.css" rel="stylesheet">
<script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.pullToRefresh.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.picker.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/city.data.js"></script>

<link rel="shortcut icon" href="/msphStatic/users_ico.ico"><link href="/msphStatic/css/user\user_index.css?559f99711b7ec3bf416f" rel="stylesheet"></head>
<body>
<section class="user_header_box">
    <div class="news_box"><i class="news_bg"></i><em class="num">3</em></div>
    <div class="header_box">
        <div class="img_box"><img width="100%" height="100%" src="/msphStatic/img/51e22e51a0b4ac08d276cb1dc0d8b33f.jpg"></div>
        <div class="user_name">ToTo喵喵</div>
        <div class="rz_status active">未实名认证</div>
    </div>
</section>
<section class="user_list_box">
    <div class="list_content_box">
        <a class="list_name">
            <i class="icon_bg car_bg"></i>
            <p class="title">我的车险</p>
            <i class="icon_right mui-icon mui-icon-arrowright"></i>
        </a>
        <a class="list_name">
            <i class="icon_bg liwu_bg"></i>
            <p class="title">我的保险</p>
            <div class="infor">有未完成的订单</div>
            <i class="icon_right mui-icon mui-icon-arrowright"></i>
        </a>
        <a class="list_name">
            <i class="icon_bg licai_bg"></i>
            <p class="title">我的理财</p>
            <i class="icon_right mui-icon mui-icon-arrowright"></i>
        </a>
        <a class="list_name">
            <i class="icon_bg daikuan_bg"></i>
            <p class="title">我的贷款</p>
            <i class="icon_right mui-icon mui-icon-arrowright"></i>
        </a>
        <a class="list_name">
            <i class="icon_bg hongbao_bg"></i>
            <p class="title">我的红包</p>
            <i class="icon_right mui-icon mui-icon-arrowright"></i>
        </a>
    </div>
</section>
<section class="user_list_box">
    <div class="list_content_box">
        <a class="list_name"><i class="icon_bg head_bg"></i>我的伙伴<i class="icon_right mui-icon mui-icon-arrowright"></i></a>
        <a class="list_name"><i class="icon_bg anquan_bg"></i>安全中心<i class="icon_right mui-icon mui-icon-arrowright"></i></a>
    </div>
</section>
<section class="user_list_box">
    <div class="list_content_box">
        <a class="list_name"><i class="icon_bg shezhi_bg"></i>设置<i class="icon_right mui-icon mui-icon-arrowright"></i></a>
    </div>
</section>
<nav class="nav_bottom_box">
    <span class="nav_list_box ">
        <a href="">
            <span class="home"></span>
            <span class="nav_text">首页</span>
        </a>
    </span>
    <span class="nav_list_box ">
        <a href="">
            <span class="cx"></span>
            <span class="nav_text">车险</span>
        </a>
    </span>
    <span class="nav_list_box active">
        <a href="">
            <span class="my"></span>
            <span class="nav_text">我的</span>
        </a>
    </span>
</nav>

<script type="text/javascript" src="/msphStatic/js/user\user_index.js?559f99711b7ec3bf416f"></script></body>
</html>