<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="applicable-device"content="pc,mobile"/>
    <script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>
    <title>极速优保-了解我们</title>
    <script src="http://cdn.upingou.com/pageShowStatic/bin/jquery-2.1.3.min.js"></script>
<link rel="shortcut icon" href="http://cdn.upingou.com/pageShowStatic/users_ico.ico"><link href="http://cdn.upingou.com/pageShowStatic/css/know\know.css?0a2826036e64786660bf" rel="stylesheet"></head>
<body>
<style>
    body{
        font-family: '微软雅黑';
    }
    a{
        text-decoration: none;
    }
    li{
        list-style:none;
    }
</style>
<!--顶部导航-->
<div class="page_nav_box">
    <div class="nav_content_box">
        <div class="logo">
        </div>
        <div class="tel_box">
            <i class="tel_bg"></i>400-880-2068
        </div>
        <div class="nav_a_box">
            <a class="nav" href="index.html">首页<i class="line"></i></a>
            <a class="nav" href="function.html">分期与功能<i class="line"></i></a>
            <a class="nav" href="js_zhao.html">代理招商<i class="line"></i></a>
            <a class="nav" href="case.html">合作案例<i class="line"></i></a>
            <a class="nav active" href="know.html">了解我们<i class="line"></i></a>
        </div>
    </div>
</div>
<!--移动端顶部导航-->
<div class="m_page_nav_box">
    <div class="nav_box">
        <i class="menu_icon iconfont"></i>
        <div class="logo_box">
        </div>
    </div>
    <div class="menu_popup_box">
        <div class="close_box">
            <i class="iconfont close_btn"></i>
        </div>
        <ul class="nav_show_box">
            <a href="index.html"><li>首页</li></a>
            <a href="function.html"><li>分期与功能</li></a>
            <a href="js_zhao.html"><li>代理招商</li></a>
            <a href="case.html"><li>合作案例</li></a>
            <a href="know.html"><li class="index">了解我们</li></a>
        </ul>
    </div>
</div>


<div class="page_banner_box">
    <img width="100%" height="100%" src="http://cdn.upingou.com/pageShowStatic/img/5534b080fdb837970ed44da15a7dd81a.jpg">
</div>
<!--公司介绍-->
<div class="page_brief_box scroll_dom">
    <div class="content_title_box">
        <div class="title">公司介绍</div>
        <div class="line"></div>
    </div>
    <p class="text text1">宁波极速优保信息科技有限公司是浙江民商普惠信息科技有限公司的关联公司。民商普惠是与新华网达成战略合作的在新华网上线的金融商城。极速优保是宁波极速优保信息科技有限公司与兴民保险经纪公司（于2016年获得中国保监会经营保险经纪业务许可证，机构代码269670000000800）联合推出的车辆保险服务平台。极速优保拥有极为完善的车险服务体系，从前期专业的线上询价及比价服务到快速投保及保费分期，均赶超行业标准。</p>
    <p class="text text2">平台以汽车保险为主营业务，对接各大保险公司，提供最实惠的保费和免息保费分期服务，以移动端微信公众号的形式面向全国渠道方和终端用户提供服务。极速优保坚持以市场为导向、以客户为中心，通过清晰的发展战略，领先的全面用户管理体系，真实、准确、完整、及时、公平对等的行业信息透明化制度，积极、热情、高效的投保者关系服务理念，为社会提供强大的保险保障。同时，在服务经济社会发展全局和广大客户的实践中，创造和积累市场领先的企业核心竞争优势。</p>
</div>
<!--公司资质-->
<div class="page_apt_box scroll_dom">
    <div class="content_title_box">
        <div class="title">公司资质</div>
        <div class="line"></div>
    </div>
    <p class="text">兴民保险经纪有限公司为极速优保合作的专业从事保险经纪业务公司，已依法持有全国保险经纪牌照及增值电信业务经营许可证（ICP证），批准开展互联网保险业务。</p>
    <p class="text">资质查询（保监会官网）：<a href="http://iir.circ.gov.cn/web/">http://iir.circ.gov.cn/web/</a></p>
    <p class="text">备案号查询（工信部官网）：<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">http://www.miitbeian.gov.cn/publish/query/indexFirst.action</a></p>
    <div class="z_img_box">
        <img width="100%" height="100%" src="http://cdn.upingou.com/pageShowStatic/img/dfe7884b212bba547fbc59f2c5b6de35.jpg">
    </div>
</div>
<!--公司优势-->
<div class="page_advantage_box scroll_dom">
    <div class="content_title_box">
        <div class="title">公司优势</div>
        <div class="line"></div>
    </div>
    <ul class="adv_list_ul">
        <li class="list_li list_li1">
            <div class="li_header_box">
                <div class="icon_box icon1"></div>
                <div class="title"><span>极</span>方便</div>
            </div>
            <p class="note_text">一站同时询价，多家横向比价，灵活免息分期</p>
        </li>
        <li class="list_li list_li2">
            <div class="li_header_box">
                <div class="icon_box icon2"></div>
                <div class="title"><span>速</span>度快</div>
            </div>
            <p class="note_text">1秒获取真实报价，3分钟完成投保</p>
        </li>
        <li class="list_li list_li3">
            <div class="li_header_box">
                <div class="icon_box icon3"></div>
                <div class="title">超<span>优惠</span></div>
            </div>
            <p class="note_text">价格透明，自由选择险企和险种，长期活动优惠，直击底价</p>
        </li>
        <li class="list_li list_li4">
            <div class="li_header_box">
                <div class="icon_box icon4"></div>
                <div class="title">有<span>保障</span></div>
            </div>
            <p class="note_text">严守客户信息，杜绝泄露骚扰</p>
        </li>
    </ul>
</div>
<!--底部导航-->
<div class="footer_box">
    <div class="footer_content_box">
        <div class="left_content_box">
            <p class="title">联系我们</p>
            <p class="text">宁波极速优保信息科技有限公司</p>
            <p class="text">客服电话  <a href="tel:400-880-2068">400-880-2068</a></p>
            <p class="text">公司地址  宁波市鄞州区天童北路和邦大厦C座1605</p>
            <p class="text top_text">浙ICP备17027001号</p>
            <p class="text top_text">版权所有©2018</p>
        </div>
        <div class="right_box">
            <div class="right_er_box left">
                <div class="er_img_box">
                    <img width="100%" height="100%" src="http://cdn.upingou.com/pageShowStatic/img/22b3bb6455599ed13b4486c94353d78c.jpg">
                </div>
                <p class="text">极速优保渠道</p>
            </div>
            <div class="right_er_box">
                <div class="er_img_box">
                    <img width="100%" height="100%" src="http://cdn.upingou.com/pageShowStatic/img/0fb78d95c289cf7ecd231c4aa23c98a2.jpg">
                </div>
                <p class="text">极速优保车险</p>
            </div>
        </div>
        <p class="btm_text">浙ICP备17027001号</p>
        <p class="btm_text">版权所有©2018</p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.upingou.com/pageShowStatic/js/know\know.js?0a2826036e64786660bf"></script></body>
<script>
  $(function(){
    var winWidth = $(window).width();
    if(winWidth <= 768){
      $('.m_page_nav_box').find('.nav_show_box').find('a').eq(2).attr('href','http://mp.weixin.qq.com/s/mZWcEza64Qs_MmgFBEJQ1A');
    }
  })
</script>
</html>