<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="applicable-device"content="pc,mobile"/>
    <script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>
    <title>极速优保-分期与功能</title>
    <link href="http://cdn.upingou.com/pageShowStatic/bin/jquery.fullPage.css" rel="stylesheet">
    <script src="http://cdn.upingou.com/pageShowStatic/bin/jquery-2.1.3.min.js"></script>
    <script src="http://cdn.upingou.com/pageShowStatic/bin/jquery.fullPage.js"></script>
</head>
<style>
    body{
        font-family: '微软雅黑';
    }
    a{
        text-decoration: none;
    }
    li{
        list-style: none;
    }
</style>
<body>
<!--PC顶部导航-->
<div class="page_nav_box">
    <div class="nav_content_box">
        <div class="logo">
        </div>
        <div class="tel_box">
            <i class="tel_bg"></i>400-880-2068
        </div>
        <div class="nav_a_box">
            <a class="nav" href="index.html">首页<i class="line"></i></a>
            <a class="nav active" href="function.html">分期与功能<i class="line"></i></a>
            <a class="nav" href="js_zhao.html">代理招商<i class="line"></i></a>
            <a class="nav" href="case.html">合作案例<i class="line"></i></a>
            <a class="nav" href="know.html">了解我们<i class="line"></i></a>
        </div>
    </div>
</div>

<!--移动端顶部导航-->
<div class="m_page_nav_box">
    <div class="nav_box">
        <i class="menu_icon iconfont"></i>
        <div class="logo_box">
        </div>
    </div>
    <div class="menu_popup_box">
        <div class="close_box">
            <i class="iconfont close_btn"></i>
        </div>
        <ul class="nav_show_box">
            <a href="index.html"><li>首页</li></a>
            <a href="function.html"><li class="index">分期与功能</li></a>
            <a href="js_zhao.html"><li>代理招商</li></a>
            <a href="case.html"><li>合作案例</li></a>
            <a href="know.html"><li>了解我们</li></a>
        </ul>
    </div>
</div>

<div id="fullpage">
    <div class="section one">
        <div class="section_box">
            <div class="car_img">
                <img width="100%" height="100%" src="../../img/function_car_img.png">
            </div>
            <div class="content_center_box">
                <div class="content_pos">
                    <div class="tab_box">
                        <div class="nav_box">
                            <div class="tab_btn">全保费分期</div>
                            <div class="tab_btn active">商业险分期</div>
                        </div>
                        <div class="content_box">
                            <!--全保费分期内容-->
                            <div class="tab_content">
                                <div class="title_bg2">
                                    <p></p>
                                </div>
                                <div class="one_text_box">
                                    <p class="text"><span>费用：<em>0首付，0利息，0手续费</em>   可分期：<em>12个月</em></span> </p>
                                    <p class="text"><span>计算方式：每期应还金额=保费总金额÷分期期数</span></p>
                                </div>
                            </div>
                            <!--商业险分期内容-->
                            <div class="tab_content">
                                <div class="title_bg1">
                                    <p></p>
                                </div>
                                <div class="one_text_box">
                                    <p class="text"><span>费用：<em>0利息，0手续费</em>   可分期：<em>3个月、5个月、10个月</em></span></p>
                                    <p class="text"><span>首期金额=交强险+车船税+商业险总金额÷分期期数</span></p>
                                    <p class="text"><span>剩余每期应还金额=分期总金额÷分期期数</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section two">
            <div class="content_center_box">
                <div class="content_pos">
                    <div class="title">
                        <p></p>
                    </div>
                    <div class="text_box">
                        <p class="text text1"><span>输入车牌或拍照上传证件</span></p>
                        <p class="text text2"><span>即可快速获得<em>30多家公司</em>精确报价</span></p>
                        <p class="text text3"><span>自动带出上年出险理赔次数及上年投保方案</span></p>
                    </div>
                </div>
        </div>
    </div>
    <div class="section three">
        <div class="content_center_box">
            <div class="content_pos">
                <div class="title">
                    <p></p>
                </div>
                <div class="text_box">
                    <p class="text text1"><span>获得<em>精确报价</em>后</span></p>
                    <p class="text text2"><span>可再次调整险种或保额</span></p>
                    <p class="text text3"><span>保存后报价立即更新！</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section four">
        <div class="content_center_box">
            <div class="content_pos">
                <div class="title">
                    <p></p>
                </div>
                <div class="text_box">
                    <p class="text text1"><span>极速优保与保险公司系统实时对接</span></p>
                    <p class="text text2"><span>您无需亲临现场，就可以在线提交投保并支付</span></p>
                    <p class="text text3"><span>助您立即出单，保单快递配送</span></p>
                    <p class="text text4"><span>让您<em>足不出户也能服务到家</em></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section five">
        <div class="content_center_box">
            <div class="content_pos">
                <div class="title">
                    <p></p>
                </div>
                <div class="text_box">
                    <p class="text text1"><span>您的投保记录<em>永久保存</em>，手机随时查</span></p>
                    <p class="text text2"><span>保单到期前自动提醒，助您及时续保</span></p>
                    <p class="text text3"><span>续保提醒时间可自定义，满足您的<em>个性化</em>管理需求</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section six">
        <div class="content_center_box">
            <div class="content_pos">
                <div class="title">
                    <p></p>
                </div>
                <div class="text_box">
                    <p class="text text1"><span>您的资料拍照保存，自动上传到云服务器</span></p>
                    <p class="text text2"><span>手机<em>同步查看</em>，更换设备</span></p>
                    <p class="text text3"><span>客户资料<em>自动还原</em></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="section seven">
        <div class="content_center_box">
            <div class="content_pos">
                <div class="phone_box">
                    <div class="img_ul_box">
                        <ul class="img_ul">
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone1.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone2.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone3.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone4.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone5.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone6.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone7.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone8.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone9.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone10.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone11.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone12.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone13.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone14.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone15.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone16.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone17.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone18.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone19.jpg">
                            </li>
                            <li class="img_li">
                                <img width="100%" height="100%" src="../../img/phone20.jpg">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="prev_btn btn"></div>
                <div class="next_btn btn"></div>
                <div class="liu_btn"></div>
                <div class="right_er_img_box">
                    <p class="er_text">扫一扫，关注公众号</p>
                    <div class="er_img_box">
                        <img width="100%" height="100%" src="../../img/function_seven_er_img.jpg">
                    </div>
                    <div class="t_bg"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section eight fp-auto-height fp-section">
        <!--底部导航-->
        <div class="footer_box">
            <div class="footer_content_box">
                <div class="left_content_box">
                    <p class="title">联系我们</p>
                    <p class="text">宁波极速优保信息科技有限公司</p>
                    <p class="text">客服电话  <a href="tel:400-880-2068">400-880-2068</a></p>
                    <p class="text">公司地址  宁波市鄞州区天童北路和邦大厦C座1605</p>
                    <p class="text top_text">浙ICP备17027001号</p>
                    <p class="text top_text">版权所有©2018</p>
                </div>
                <div class="right_box">
                    <div class="right_er_box left">
                        <div class="er_img_box">
                            <img width="100%" height="100%" src="../../img/er_cx_img.jpg">
                        </div>
                        <p class="text">极速优保渠道</p>
                    </div>
                    <div class="right_er_box">
                        <div class="er_img_box">
                            <img width="100%" height="100%" src="../../img/er_fwh_img.jpg">
                        </div>
                        <p class="text">极速优保车险</p>
                    </div>
                </div>
                <p class="btm_text">浙ICP备17027001号</p>
                <p class="btm_text">版权所有©2018</p>
            </div>
        </div>
    </div>
</div>
</body>
<script>
  $(function(){
    var winWidth = $(window).width();
    if(winWidth <= 768){
      $('.m_page_nav_box').find('.nav_show_box').find('a').eq(2).attr('href','http://mp.weixin.qq.com/s/mZWcEza64Qs_MmgFBEJQ1A');
    }
  })
</script>
</html>