<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>网站页面升级中...</title>
    <script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>
<link href="http://cdn.msphcn.com/dist/bin/mui.min.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.picker.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.poppicker.css" rel="stylesheet">
<script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.pullToRefresh.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.picker.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/city.data.js"></script>

<link rel="shortcut icon" href="/msphStatic/users_ico.ico"><link href="/msphStatic/css/special_page\update.css?559f99711b7ec3bf416f" rel="stylesheet"></head>
<body>
<section class="page_content_box">
    <div class="logo_box">
        <img width="100%" height="100%" src="/msphStatic/img/12614e29768b2a155ea9e50e3c7aba0c.jpg">
    </div>
    <div class="middle_content_box">
        <div class="img_box">
            <img width="100%" height="100%" src="/msphStatic/img/33727e9caf6c432ab8bcbf25ab980c9e.jpg">
        </div>
        <p class="note_text">
            程序猿哥哥正在流泪吐血升级页面中，预计1小时<br>后恢复访问，新页面将更快更好看哟！
        </p>
    </div>
    <div class="footer_content_box">
        <p>浙江民商普惠信息科技有限公司</p>
        <p>浙ICP备17021113号-1</p>
    </div>
</section>
<script type="text/javascript" src="/msphStatic/js/special_page\update.js?559f99711b7ec3bf416f"></script></body>
</html>