<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>贷款中心</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "贷款中心","txt":"贷款计算"})
<!--顶部轮播-->
<section class="carousel_box">
    @@include('../common/top_carousel.html')
</section>
<section class="hot_loan_box">
    <header class="header_title">
        <i></i>热门贷款
    </header>
    <div class="hot_loan_content">
        <div class="hot_loan_list">
            <div class="img_box">
                <img class="lazy" width="100%" height="100%" src="../../img/loan_ajd_img.jpg">
            </div>
            <div class="text_box">
                <header class="title_box">
                    <h2 class="title">房低贷</h2>
                    <div class="right_text"><i></i>一般月费率6‰</div>
                </header>
                <p class="note_text">房产第一次抵押，额度为评估价的75折，房产第二次抵押，额度为评估价的七折</p>
            </div>
            <!--<h1 class="title">房抵贷</h1>-->
            <!--<div class="content">-->
                <!--<div class="left_content">-->
                    <!--<div class="num_box">-->
                        <!--<p class="num"><span>6</span>‰</p>-->
                        <!--<p class="note_text">一般月费率</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="right_content">-->
                    <!--<div class="text_box">-->
                        <!--房产第一次抵押，额度为评估价的75折，房产第二次抵押，额度为评估价的七折-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="hot_loan_list">
            <div class="img_box">
                <img class="lazy" width="100%" height="100%" src="../../img/loan_ajd_img.jpg">
            </div>
            <div class="text_box">
                <header class="title_box">
                    <h2 class="title">车低贷</h2>
                    <div class="right_text"><i></i>一般月费率6‰</div>
                </header>
                <p class="note_text">房产第一次抵押，额度为评估价的75折，房产第二次抵押，额度为评估价的七折</p>
            </div>
        </div>


    </div>
</section>
</body>
</html>