<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>理财中心</title>
    @@include('../common/layout.html')
</head>
<body>

@@include('../common/page_title.html',{"title": "理财中心","txt":""})
<!--轮播模块-->
<section class="carousel_box">
    @@include('../common/top_carousel.html')
</section>
<!--热门机构-->
<section class="hot_outfit_box">
    <div class="content_title_box">
        <div class="tit_box">
            <i class="head_icon_bg"></i>
            热门机构
            <span class="see_more" style="display:none">查看全部
<i class="icon mui-icon mui-icon-arrowright"></i>
</span>
        </div>
    </div>
    <ul class="outfit_content">
            <li>
                <div class="radius_box">
                    <img width="100%" height="100%" class="img" src="../../img/company_logo.jpg">
                </div>
                <div class="node_text">平安银行</div>
            </li>
            <li>
                <div class="radius_box">
                    <img width="100%" height="100%" class="img" src="../../img/company_logo.jpg">
                </div>
                <div class="node_text">民生银行</div>
            </li>
            <li>
                <div class="radius_box">
                    <img width="100%" height="100%" class="img" src="../../img/company_logo.jpg">
                </div>
                <div class="node_text">中民i投</div>
            </li>
            <li>
                <div class="radius_box">
                    <img width="100%" height="100%" class="img" src="../../img/company_logo.jpg">
                </div>
                <div class="node_text">陆金所</div>
            </li>
    </ul>
</section>
<!--热门理财-->
<section class="hot_financ_box hot_outfit_box">
    <div class="content_title_box">
        <div class="tit_box">
            <i class="head_icon_bg"></i>
            热门理财
            <span class="see_more">查看全部
<i class="icon mui-icon mui-icon-arrowright"></i>
</span>
        </div>
    </div>
    <div class="financ_list_box">
        <div class="list_box">
            <div class="list_head_box">
                <div class="list_title">富满溢希德三号-U028期</div>
                <div class="img_name_box">
                    <div class="name">陆金所</div>
                    <div class="img"><img width="100%" height="100%" src="../../img/icons/company_logo.png"></div>

                </div>
            </div>
            <div class="list_content">
                <div class="left_content">
                    <div class="num_box">
                        <span style="display:block">4.27-4.58<em>%</em></span>
                        <i style="display:block">预计年化收益率</i>
                    </div>
                </div>
                <div class="right_content">
                    <span class="span1">140天理财期限</span>
                    <span class="span2">5万元起投</span>
                </div>
            </div>
        </div>
        <div class="list_box">
            <div class="list_head_box">
                <div class="list_title">富满溢希德三号-U028期</div>
                <div class="img_name_box">
                    <div class="name">陆金所</div>
                    <div class="img"><img width="100%" height="100%" src="../../img/icons/company_logo.png"></div>
                </div>
            </div>
            <div class="list_content">
                <div class="left_content">
                    <div class="num_box">
                        <span>6.00<em>%</em></span><br>
                        <i>预计年化收益率</i>
                    </div>
                </div>
                <div class="right_content">
                    <span class="span1">140天理财期限</span>
                    <span class="span2">10万元起投</span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>