<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>我的红包</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "我的红包","txt":""})
<section class="page_share_popup">
    <div class="share_img_popup">
        <div class="img_box">
            <div class="logo">
                <img width="100%" height="100%" src="../../img/jsyb_logo.png">
            </div>
            <img width="100%" height="100%" src="../../img/er_wei_ma.jpg">
        </div>
    </div>
    <div class="note_text">搜索关注【极速优保】公众号<br>登陆“我的账号”查看红包</div>
</section>
<main class="page_content">
    <div class="envelopes_list_box">
        <div class="spot top"></div>
        <div class="spot bottom"></div>
        <div class="line"></div>
        <div class="top_content_box">
            <div class="img_box">
                <img width="100%" height="100%" src="../../img/cx_img.jpg">
            </div>
            <div class="price_content_box">
                <div class="price_box">
                    <div class="price_num"><span>￥</span>50</div>
                    <div class="type_box">车险红包</div>
                    <div class="all_num">数量:<span>3</span></div>
                </div>
                <p class="time">请在2018年12月31日前使用</p>
            </div>
            <div class="right_num_box">
                <div class="pos">
                    <p class="text">合计</p>
                    <p class="num">￥<span>600</span></p>
                </div>
            </div>
        </div>
        <div class="bottom_content_box">
            *本活动最终解释权归民商普惠金融商城所有
        </div>
    </div>
    <div class="envelopes_list_box">
        <div class="spot top"></div>
        <div class="spot bottom"></div>
        <div class="line"></div>
        <div class="top_content_box">
            <div class="img_box">
                <img width="100%" height="100%" src="../../img/cx_img.jpg">
            </div>
            <div class="price_content_box">
                <div class="price_box">
                    <div class="price_num"><span>￥</span>50</div>
                    <div class="type_box">车险红包</div>
                    <div class="all_num">数量:<span>3</span></div>
                </div>
                <p class="time">请在2018年12月31日前使用</p>
            </div>
            <div class="right_num_box">
                <div class="pos">
                    <p class="text">合计</p>
                    <p class="num">$<span>600</span></p>
                </div>
            </div>
        </div>
        <div class="bottom_content_box">
            *本活动最终解释权归民商普惠金融商城所有
        </div>
    </div>
    <div class="envelopes_list_box active">
        <div class="spot top"></div>
        <div class="spot bottom"></div>
        <div class="line"></div>
        <div class="top_content_box">
            <div class="img_box">
                <img width="100%" height="100%" src="../../img/active_red_img.jpg">
            </div>
            <div class="price_content_box">
                <div class="price_box">
                    <div class="price"><span>￥</span>50</div>
                    <div class="type_box">车险红包</div>
                </div>
                <p class="time">邀请朋友领取50元互助红包</p>
            </div>
            <div class="right_num_box">
                <div class="pos">
                    <div class="click_btn">点击激活</div>
                </div>
            </div>
        </div>
        <div class="bottom_content_box">
            *本活动最终解释权归民商普惠金融商城所有
        </div>
    </div>
    <div class="btm_note_text">当前领取红包总额：<span>￥</span><em>750</em></div>
</main>
<div class="bottom_btn">
    <!--<a class="share_btn">分享好友</a>-->
    <!--<a class="share_btn">使用红包</a>-->
    <div class="text_pos">
        立即使用红包<br>
        <span>一键询价  横向比价</span>
    </div>
</div>
</body>
</html>