<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>消息中心</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "消息中心","txt":""})
<main class="page_main">
    <section class="news_content_box">
        <div class="list_content_box">
            <div class="list_box order_active">
                <div class="icon_box">
                    <i class="icon"></i>
                    <i class="spot"></i>
                </div>
                <div class="list_text_content">
                    <div class="title_box">
                        <h2 class="title">订单消息</h2>
                        <div class="time">今天 10:17</div>
                    </div>
                    <p class="note_text">您的车险订单，订单号GAJNG12454135，已支付...</p>
                </div>
            </div>
            <div class="list_box server_active">
                <div class="icon_box">
                    <i class="icon"></i>
                    <i class="spot"></i>
                </div>
                <div class="list_text_content">
                    <div class="title_box">
                        <h2 class="title">系统通知</h2>
                        <div class="time">今天 10:17</div>
                    </div>
                    <p class="note_text">在新春佳节之际,我的祝福送给你，2000元大礼包...</p>
                </div>
            </div>
            <div class="list_box secretary_active">
                <div class="icon_box">
                    <i class="icon"></i>
                    <i class="spot"></i>
                </div>
                <div class="list_text_content">
                    <div class="title_box">
                        <h2 class="title">民商小秘书</h2>
                        <div class="time">今天 10:17</div>
                    </div>
                    <p class="note_text">新增50种信用卡，在【首页】-【信用卡】即可查...</p>
                </div>
            </div>
        </div>

    </section>
    <section class="news_content_box">
        <div class="content_title">历史消息</div>
        <div class="list_content_box">
            <div class="list_box order_active">
                <div class="icon_box">
                    <i class="icon"></i>
                    <i class="spot"></i>
                </div>
                <div class="list_text_content">
                    <div class="title_box">
                        <h2 class="title">订单消息</h2>
                        <div class="time">今天 10:17</div>
                    </div>
                    <p class="note_text">您的车险订单，订单号GAJNG12454135，已支付...</p>
                </div>
            </div>
            <div class="list_box server_active">
                <div class="icon_box">
                    <i class="icon"></i>
                    <i class="spot"></i>
                </div>
                <div class="list_text_content">
                    <div class="title_box">
                        <h2 class="title">系统通知</h2>
                        <div class="time">今天 10:17</div>
                    </div>
                    <p class="note_text">在新春佳节之际,我的祝福送给你，2000元大礼包...</p>
                </div>
            </div>
            <div class="list_box secretary_active">
                <div class="icon_box">
                    <i class="icon"></i>
                    <i class="spot"></i>
                </div>
                <div class="list_text_content">
                    <div class="title_box">
                        <h2 class="title">民商小秘书</h2>
                        <div class="time">今天 10:17</div>
                    </div>
                    <p class="note_text">新增50种信用卡，在【首页】-【信用卡】即可查...</p>
                </div>
            </div>
        </div>

    </section>
</main>
</body>
</html>