<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>通知</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "系统通知","txt":""})
<main class="page_main">
    <section class="news_details_content">
        <h1 class="title">玩游戏,赢新春大礼包</h1>
        <div class="time">周四 16:20</div>
        <p class="content_text">
            在新春佳节之际,我的祝福送给你，2000元大礼包等着你亲爱的小伙伴们：
            喜气洋洋的新春佳节即将到来，《全民打怪兽》也为各位小伙伴们准备了丰厚的新春红包，除此之外还有各种超福利的游戏活动哟。12月11日12:00，第三批的7★伙伴也同步开放，全民欢乐过大年，具体详情请参照游戏内伙伴图鉴新春红包
        </p>
        <p class="activity_time">活动时间:2月18日~2月19日</p>
        <p class="activity">
            活动规则:<br>活动期间，玩家每天登录游戏即可领取新春礼包一份：
            6★伙伴招募券*1，7★装备兑换券*1
        </p>
    </section>
</main>
</body>
</html>