<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>Title</title>
    @@include('../common/layout.html')
</head>
<body>
@@include('../common/page_title.html',{"title": "红包","txt":""})
<section class="page_problem_box">
        <article class="problem_content">
            <div class="pad_box">
                <h3 class="title">红包是什么?</h3>
                <p class="text">红包是于民商普惠及其下属网站（极速优保）使用的的现金抵用
                    券，支付时可直接抵扣对应面值的金额。</p>
            </div>
        </article>
        <article class="problem_content">
            <div class="pad_box">
                <h3 class="title">如何获得红包？</h3>
                <p class="text">(1) 用户登录公众号“民商普惠”或“极速优保”，即可领取红包；
                    或从各活动专题链接进入领取；也可通过好友转发分享领取。<br>(2) 用户分享红包链接，每有一名好友通过链接领取红包，该用
                    户也可获得一个红包。</p>
            </div>
        </article>
        <article class="problem_content">
            <div class="pad_box">
                <h3 class="title">如何使用红包?</h3>
                <p class="text">在网站和手机端付款前，“信息填写”界面，可以选择使用红包，
                    抵扣相应的金额。</p>
            </div>
        </article>
        <article class="problem_content">
            <div class="pad_box">
                <h3 class="title">红包使用是否可以叠加？是否有数量限制？</h3>
                <p class="text">可以叠加。有数量限制。根据保险公司政策，不同地区，红包可
                    使用数量不同。具体以当地政策为准。</p>
            </div>
        </article>
        <article class="problem_content">
            <div class="pad_box">
                <h3 class="title">为什么我的红包无法使用？</h3>
                <p class="text">您的账号可能归属于渠道，报价后无法使用红包，当前红包活动
                    仅针对一般用户开放，尽请谅解。</p>
            </div>
        </article>
</section>
</body>
</html>