body {
  font-size: 0.28rem;
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
ul li {
  list-style: none;
}
img {
  border: 0;
  outline: none;
}
img[src=""],
img:not([src]) {
  opacity: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
input,
button,
textarea {
  background: none;
  border: 0;
  outline: none;
  -webkit-appearance: none;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
/*自定义样式*/
.text_hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.box_position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box_vertical_position {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.w_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.page_header_title {
  position: fixed;
  top: 0px;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  height: 44px;
  line-height: 44px;
  max-width: 7.5rem;
  background: #fff;
  border-bottom: #e5e5e5 1px solid;
  z-index: 99;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
}
.page_header_title .page_title {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 0.32rem;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  color: #333;
}
.page_header_title .page_return_btn {
  position: absolute;
  top: 0px;
  left: 0.3rem;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.page_header_title .page_return_btn i {
  width: 10px;
  height: 10px;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  left: 0;
  top: 16px;
  z-index: 10;
}
body {
  background: #f6f6f6;
  padding-bottom: 1.2rem;
}
.page {
  width: 100%;
  max-width: 7.5rem;
  overflow: hidden;
  margin: 0 auto;
}
.page_content {
  width: 100%;
  margin-top: 44px;
}
.page_content .form_box {
  width: 100%;
  padding: 0 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.page_content .form_box .input_box {
  position: relative;
  width: 100%;
  border-bottom: #e5e5e5 1px solid;
  padding: 0.4rem 0;
  overflow: hidden;
}
.page_content .form_box .input_box .text_mode {
  display: inline-block;
  width: 2rem;
  text-align: right;
  font-size: 0.28rem;
  color: #333;
  margin-left: 2.9rem;
}
.page_content .form_box .input_box i:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  content: "\E600";
  font-size: 0.24rem;
  color: #333;
}
.page_content .form_box .input_box .verify_img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  width: 1.12rem;
  height: 0.55rem;
}
.page_content .form_box .input_box .tit_input {
  display: inline-block;
  width: 1.6rem;
  font-size: 0.28rem;
  color: #333;
}
.page_content .form_box .input_box .text {
  font-size: 0.24rem;
  color: #999;
}
.page_content .form_box .input_box:last-child {
  border-bottom: none;
}
.page_content .footer_btn_box {
  width: 100%;
  padding: 0 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 0.86rem;
}
.page_content .footer_btn_box .apply_btn {
  width: 100%;
  height: 0.86rem;
  line-height: 0.86rem;
  text-align: center;
  font-size: 0.36rem;
  color: #fff;
  background: #f67e2e;
  border-radius: 0.1rem;
}
.mode_popup {
  position: fixed;
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
  display: none;
}
.mode_popup .mask_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.mode_popup .popup_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 2;
  padding: 0.42rem 0;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}
.mode_popup .popup_content .ul {
  width: 100%;
  padding: 0 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.mode_popup .bottom_move {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.mode_popup .mode_list {
  width: 100%;
  font-size: 0.28rem;
  color: #333;
  text-align: center;
  padding: 0.4rem 0;
  border-bottom: #e5e5e5 1px solid;
}
.mode_popup .mode_list:last-child {
  border-bottom: none;
}
