<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
	<title>贷款详情</title>
	<script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>
<link href="http://cdn.msphcn.com/dist/bin/mui.min.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.picker.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.poppicker.css" rel="stylesheet">
<script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.pullToRefresh.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.picker.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/city.data.js"></script>

<link rel="shortcut icon" href="/msphStatic/users_ico.ico"><link href="/msphStatic/css/loan\loan_details.css?559f99711b7ec3bf416f" rel="stylesheet"></head>
<body>
<header class="page_header_title">
    <a class="page_return_btn"><i></i></a>
    <h1 class="page_title">贷款详情</h1>
    <a class='page_right_box'></a>
</header>
<section class="top_content_box">
	<section class="section_bg_box">
		<div class="left_section_box">
			<h1 class="title">车抵贷</h1>
			<div class="note_text">
				<i class="decorate_icon"></i>
				<span class="text">最低月贷款利率：<em>0.55%</em></span>
			</div>
		</div>
		<div class="state_text">
			审核失败
		</div>
	</section>
	<section class="brief_box">
		<div class="brief_content">
			<h2 class="title h_title">简介：</h2>
			<p class="brief_text p_note">贷款以汽车作为抵押物的贷款的用途，主要为快速资金周转。</p>
		</div>
	</section>
</section>
<section class="material_box">
	<div class="material_content">
		<h2 class="title h_title">所需材料：</h2>
		<div class="material_text_box">
			<p class="material_text p_note">1.收入证明</p>
			<p class="material_text p_note">2.机动车登记证、行驶证、购置附加税证（本）、购车发票</p>
			<p class="material_text p_note">3.保险单、车船税、进口车辆相关税证明 、身份证</p>
		</div>
	</div>
</section>
<section class="form_infor_box">
	<ul class="form_box">
		<li class="text_box">
			<div class="name_text">姓名</div>
			<div class="val_text">张三分</div>
		</li>
		<li class="text_box">
			<div class="name_text">手机号</div>
			<div class="val_text">1555***555</div>
		</li>
		<li class="text_box">
			<div class="name_text">汽车型号</div>
			<div class="val_text">马自达HGJG107</div>
		</li>
		<li class="text_box">
			<div class="name_text">购入时间</div>
			<div class="val_text">2017-01-20</div>
		</li>
		<li class="text_box">
			<div class="name_text">购入价格</div>
			<div class="val_text">150,000元</div>
		</li>
		<li class="text_box">
			<div class="name_text">XXXXXX</div>
			<div class="val_text">XXXXXX</div>
		</li>
	</ul>
</section>
<script type="text/javascript" src="/msphStatic/js/loan\loan_details.js?559f99711b7ec3bf416f"></script></body>
</html>