<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
    <title>我的贷款</title>
    <script type="text/javascript" src="http://cdn.msphcn.com/dist/bin/rem.js"></script>
<link href="http://cdn.msphcn.com/dist/bin/mui.min.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.picker.css" rel="stylesheet">
<link href="http://cdn.msphcn.com/dist/bin/mui.poppicker.css" rel="stylesheet">
<script src="http://cdn.msphcn.com/msphStatic/bin/jquery-2.1.3.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.pullToRefresh.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/mui.picker.min.js"></script>
<script src="http://cdn.msphcn.com/dist/bin/city.data.js"></script>

<link rel="shortcut icon" href="/msphStatic/users_ico.ico"><link href="/msphStatic/css/loan\my_loan.css?559f99711b7ec3bf416f" rel="stylesheet"></head>
<body>
<header class="page_header_title">
    <a class="page_return_btn"><i></i></a>
    <h1 class="page_title">我的贷款</h1>
    <a class='page_right_box'></a>
</header>
<section class="page_content_box tab_box">
    <div class="nav_tab_box">
        <ul class="tab_btn_box">
            <li class="tab_btn">待受理</li>
            <li class="tab_btn">已受理</li>
        </ul>
        <div class="move_line"></div>
    </div>
    <div class="tab_content_box">

        <div class="tab_content">
            <ul class="content_ul">
                <li class="content_li">
                    <div class="content_left_box">
                        <div class="title_box">
                            <i></i>
                            <h1 class="title">车贷款</h1>
                        </div>
                        <div class="user_infor_box">
                            <p>
                                <span class="name">胡挺</span>
                                <span class="card_num">330227199502******</span>
                            </p>
                            <p>
                                订单时间：<span class="time">2017-11-21</span>
                            </p>
                        </div>
                    </div>
                    <div class="content_right_box">
                        <p class="state_box">正在审核</p>
                        <div class="details_btn">查看详情</div>
                    </div>
                </li>
                <li class="content_li">
                    <div class="content_left_box">
                        <div class="title_box">
                            <i></i>
                            <h1 class="title">车贷款</h1>
                        </div>
                        <div class="user_infor_box">
                            <p>
                                <span class="name">胡挺</span>
                                <span class="card_num">330227199502******</span>
                            </p>
                            <p>
                                订单时间：<span class="time">2017-11-21</span>
                            </p>
                        </div>
                    </div>
                    <div class="content_right_box">
                        <p class="state_box">正在审核</p>
                        <div class="details_btn">查看详情</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab_content">
            <ul class="content_ul">
                <li class="content_li">
                    <div class="content_left_box">
                        <div class="title_box">
                            <i></i>
                            <h1 class="title">车贷款</h1>
                        </div>
                        <div class="user_infor_box">
                            <p>
                                <span class="name">胡挺</span>
                                <span class="card_num">330227199502******</span>
                            </p>
                            <p>
                                订单时间：<span class="time">2017-11-21</span>
                            </p>
                        </div>
                    </div>
                    <div class="content_right_box">
                        <p class="state_box">正在审核</p>
                        <div class="details_btn">查看详情</div>
                    </div>
                </li>
                <li class="content_li">
                    <div class="content_left_box">
                        <div class="title_box">
                            <i></i>
                            <h1 class="title">车贷款</h1>
                        </div>
                        <div class="user_infor_box">
                            <p>
                                <span class="name">胡挺</span>
                                <span class="card_num">330227199502******</span>
                            </p>
                            <p>
                                订单时间：<span class="time">2017-11-21</span>
                            </p>
                        </div>
                    </div>
                    <div class="content_right_box">
                        <p class="state_box">正在审核</p>
                        <div class="details_btn">查看详情</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>
<script type="text/javascript" src="/msphStatic/js/loan\my_loan.js?559f99711b7ec3bf416f"></script></body>
</html>