<div class="mui-slider">
<div class="mui-slider-group mui-slider-loop">
<!--支持循环，需要重复图片节点-->
<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img/></a></div>
<div class="mui-slider-item"><a href="#"><img/></a></div>
<div class="mui-slider-item"><a href="#"><img/></a></div>
<div class="mui-slider-item"><a href="#"><img/></a></div>
<div class="mui-slider-item"><a href="#"><img/></a></div>
<!--支持循环，需要重复图片节点-->
<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img/></a></div>
</div>
<div class="mui-slider-indicator">
<div class="mui-indicator mui-active"></div>
<div class="mui-indicator"></div>
<div class="mui-indicator"></div>
</div>
</div>